@model Lab_11._2_Coffee_Shop_Registration.Models.WebUser
@{
    ViewBag.Title = "Success!";
}

<h2>Thank you for Registering with us!</h2>

Welcome, @Model.UserName! 
<br />
Your first name is @Model.FirstName
<br />
Your Last name is @Model.LastName
<br />
Your email address is @Model.Email
<br />
Your phone number is @Model.PhoneNumber
<br />
Your Birthday is @Model.BDay
<br />
Your State is @Model.State
<br />
Your Password is @Model.Password
<br />
Your Favorite color is @Model.FavoriteColor
<br />

<html>
<head>
    <style>
    </style>

</head>

<body style="        background: url(https://img.wallpapersafari.com/desktop/1920/1080/45/21/PEtwLD.jpg)">



</body>

</html>

